@import 'variables';
.about  {
    ol {
        padding: 0;
        margin: 20px;
        font-size: 30px;
        li {
          
            padding: $small-padding;
            margin: $small-margin;
            background-color: blue;
            border-radius: $small-rounded;
        }
        li:nth-child(3) {
            margin: $small-margin;
        }
    
    }
}