.contain{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 100px;
}

.card{
    width: 200px;
    height: 200px;
    background-color: purple;
    margin: 10px;
  
}

.logo{
    width: 80px;
    height: 80px;
    background-color: red;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}
.profile{
    width: 80px;
    height: 80px;
    background-color: green;
    margin: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

nav{
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px){
    p{
        font-size: 40px;
    }
    .card{
        width: 250px;
        height: 250px;
    }
}

@media (max-width: 900px){
    body {
        background-color: paleturquoise;
    }
    p{
        font-size: 30px;
        
    }
    .card{
        width: 150px;
        height: 150px;
    }
}


@media (max-width: 700px){
    p{
        font-size: 20px;
    }
    .card{
        width: 100px;
        height: 100px;
    }
}

