.square {
    width: 200px;
    height: 200px;
    display: inline-block;
    /* background-color: red; */
  
}
/* 
.square2 {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    opacity: .8;
    border: 2px solid black;
}

.parent {
    width: 500px;
    height: 500px;
    display: inline-block;
    background-color: blue;
    border: 4px solid black;
    /* position: relative;
    z-index: 0;
}

.behind {
    z-index: -1;
}

.one {
    z-index: 1;
    background-color: purple;
    top: 30px;
    left: 30px;
}

.two {
    z-index: 3;
    background-color: orange;
    top: 30px;
    left: -30px;
}

.three {
    z-index: 2;
    background-color: yellow;
    top: -30px;
    left: 30px;
}

.four {
    z-index: 4;
    background-color: pink;
    top: -30px;
    left: -30px;
}

.five {
    z-index: 5;
    background-color: brown;
} */